In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [2]:
# Change this to your desired search parameter
## Examples: "area square miles", "population", "income per capita"
indicator = "state area square miles"

In [3]:
cities = pd.DataFrame(
    ["Calgary","Edmonton","Vancouver","Winnipeg","Moncton","St. Johns","Halifax","Ottawa","Toronto","Montreal",
"Quebec City","Saskatoon","Birmingham","Anchorage","Mesa","Phoenix","Tuscon","Little Rock","Los Angeles","San Diego",
"San Francisco","San Jose","Aurora","Colorado Springs","Denver","Bridgeport","Wilmington","Washington D.C.","Jacksonville",
"Miami","Orlando","Tampa","Atlanta","Honolulu","Boise","Chicago","Indianapolis","Des Moines","Wichita",
"Lexington-Fayette County","Louisville","New Orleans","Portland","Baltimore","Boston","Detroit","Grand Rapids","Minneapolis",
"St. Paul","Jackson","Kansas City","St. Louis","Billings","Lincoln","Omaha","Henderson","Las Vegas","Manchester","Newark",
"Albuquerque","Buffalo","New York City","Rochester","Charlotte","Greensboro","Raleigh","Fargo","Cincinnati","Cleveland",
"Columbus","Oklahoma City","Tulsa","Portland","Philadelphia","Pittsburgh","Providence","Charleston","Sioux Falls","Memphis",
"Nashville","Austin","Dallas","Houston","San Antonio","Salt Lake City","Burlington","Arlington","Virginia Beach","Seattle",
"Charleston","Milwaukee","Cheyenne","Aguascalientes","Tijuana","La Paz","Campeche","Tuxtla Gutiérrez","Chihuahua","Juárez",
"Saltillo","Piedras Negras","Colima","Durango","León","Acapulco","Hermosillo","Pachuca","Guadalajara","Ecatepec","Naucalpan",
"Nezahualcóyotl","Toluca","Mexico City","Morelia","Cuernavaca","Tepic","San Pedro","Monterrey","Oaxaca","Puebla","Querétaro",
"Cancún","San Luis Potosí","Culiacán","Villahermosa","Reynosa","Apizaco","Boca del Rio","Mérida","Zacatecas"])

In [4]:
states = pd.DataFrame(
    ["Alberta","Alberta","British Columbia","Manitoba","New Brunswick","Newfoundland and Labrador","Nova Scotia",
"Ontario","Ontario","Quebec","Quebec","Saskatchewan","Alabama","Alaska","Arizona","Arizona","Arizona","Arkansas",
"California","California","California","California","Colorado","Colorado","Colorado","Connecticut","Delaware",
"District of Columbia","Florida","Florida","Florida","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa",
"Kansas","Kentucky","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Michigan","Minnesota","Minnesota",
"Mississippi","Missouri","Missouri","Montana","Nebraska","Nebraska","Nevada","Nevada","New Hampshire","New Jersey",
"New Mexico","New York","New York","New York","North Carolina","North Carolina","North Carolina","North Dakota",
"Ohio","Ohio","Ohio","Oklahoma","Oklahoma","Oregon","Pennsylvania","Pennsylvania","Rhode Island","South Carolina",
"South Dakota","Tennessee","Tennessee","Texas","Texas","Texas","Texas","Utah","Vermont","Virginia","Virginia","Washington",
"West Virginia","Wisconsin","Wyoming","Aguascalientes","Baja California","Baja California Sur","Campeche","Chiapas",
"Chihuahua","Chihuahua","Coahuila","Coahuila","Colima","Durango","Guanajuato","Guerrero","Sonora","Hidalgo","Jalisco",
"México","México","México","México","Mexico City","Michoacán","Morelos","Nayarit","Nuevo León","Nuevo León","Oaxaca",
"Puebla","Querétaro","Quintana Roo","San Luis Potosí","Sinaloa","Tabasco","Tamaulipas","Tlaxcala","Veracruz","Yucatán",
"Zacatecas"])

In [5]:
driver = webdriver.Firefox()

In [6]:
search = states+" "+indicator

In [7]:
areas = []
for i in range(len(search)):
    try:
        query = driver.get("https://www.google.com") 
        time.sleep(2)
        driver.find_element_by_name("q").send_keys(search[0][i])
        driver.find_element_by_name("q").send_keys(u'\ue007')
        time.sleep(4)
        result = driver.find_element_by_xpath('/html/body/div[5]/div[2]/div[9]/div[1]/div[2]/div/div[2]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/div[2]/div/div/div/div[1]').text
        areas.append(result)
        print(f"{search[0][i]}: {result}")
    except:
        print(f"{search[0][i]}: n/a")
        areas.append("n/a")
        continue

Alberta state area square miles: 255,541 mi²
Alberta state area square miles: 255,541 mi²
British Columbia state area square miles: 364,764 mi²
Manitoba state area square miles: 250,116 mi²
New Brunswick state area square miles: 5.79 mi²
Newfoundland and Labrador state area square miles: 156,453 mi²
Nova Scotia state area square miles: 21,345 mi²
Ontario state area square miles: 415,600 mi²
Ontario state area square miles: 415,600 mi²
Quebec state area square miles: 644,000 mi²
Quebec state area square miles: 644,000 mi²
Saskatchewan state area square miles: 251,700 mi²
Alabama state area square miles: 52,419 mi²
Alaska state area square miles: 663,300 mi²
Arizona state area square miles: 113,998 mi²
Arizona state area square miles: 113,998 mi²
Arizona state area square miles: 113,998 mi²
Arkansas state area square miles: 53,179 mi²
California state area square miles: 163,696 mi²
California state area square miles: 163,696 mi²
California state area square miles: 163,696 mi²
California state area square miles: 163,696 mi²
Colorado state area square miles: 104,185 mi²
Colorado state area square miles: 104,185 mi²
Colorado state area square miles: 104,185 mi²
Connecticut state area square miles: 5,543 mi²
Delaware state area square miles: 2,489 mi²
District of Columbia state area square miles: 68.34 mi²
Florida state area square miles: 65,755 mi²
Florida state area square miles: 65,755 mi²
Florida state area square miles: 65,755 mi²
Florida state area square miles: 65,755 mi²
Georgia state area square miles: 59,425 mi²
Hawaii state area square miles: 10,931 mi²
Idaho state area square miles: 83,642 mi²
Illinois state area square miles: 57,915 mi²
Indiana state area square miles: 36,418 mi²
Iowa state area square miles: 56,272 mi²
Kansas state area square miles: 82,277 mi²
Kentucky state area square miles: 40,409 mi²
Kentucky state area square miles: 40,409 mi²
Louisiana state area square miles: 52,378 mi²
Maine state area square miles: 35,385 mi²
Maryland state area square miles: 12,407 mi²
Massachusetts state area square miles: 10,565 mi²
Michigan state area square miles: 96,716 mi²
Michigan state area square miles: 96,716 mi²
Minnesota state area square miles: 86,943 mi²
Minnesota state area square miles: 86,943 mi²
Mississippi state area square miles: 48,430 mi²
Missouri state area square miles: 69,704 mi²
Missouri state area square miles: 69,704 mi²
Montana state area square miles: 147,040 mi²
Nebraska state area square miles: 77,421 mi²
Nebraska state area square miles: 77,421 mi²
Nevada state area square miles: 110,567 mi²
Nevada state area square miles: 110,567 mi²
New Hampshire state area square miles: 9,350 mi²
New Jersey state area square miles: 8,729 mi²
New Mexico state area square miles: 121,697 mi²
New York state area square miles: 54,556 mi²
New York state area square miles: 54,556 mi²
New York state area square miles: 54,556 mi²
North Carolina state area square miles: 53,819 mi²
North Carolina state area square miles: 53,819 mi²
North Carolina state area square miles: 53,819 mi²
North Dakota state area square miles: 70,762 mi²
Ohio state area square miles: 44,825 mi²
Ohio state area square miles: 44,825 mi²
Ohio state area square miles: 44,825 mi²
Oklahoma state area square miles: 69,899 mi²
Oklahoma state area square miles: 69,899 mi²
Oregon state area square miles: 98,466 mi²
Pennsylvania state area square miles: 46,055 mi²
Pennsylvania state area square miles: 46,055 mi²
Rhode Island state area square miles: 1,212 mi²
South Carolina state area square miles: 32,020 mi²
South Dakota state area square miles: 77,184 mi²
Tennessee state area square miles: 42,180 mi²
Tennessee state area square miles: 42,180 mi²
Texas state area square miles: 268,597 mi²
Texas state area square miles: 268,597 mi²
Texas state area square miles: 268,597 mi²
Texas state area square miles: 268,597 mi²
Utah state area square miles: 84,899 mi²
Vermont state area square miles: 9,623 mi²
Virginia state area square miles: 42,775 mi²
Virginia state area square miles: 42,775 mi²
Washington state area square miles: 71,362 mi²
West Virginia state area square miles: n/a
Wisconsin state area square miles: 65,498 mi²
Wyoming state area square miles: 97,818 mi²
Aguascalientes state area square miles: n/a
Baja California state area square miles: 27,587 mi²
Baja California Sur state area square miles: 29,218 mi²
Campeche state area square miles: 22,365 mi²
Chiapas state area square miles: 28,306 mi²
Chihuahua state area square miles: 95,545 mi²
Chihuahua state area square miles: 95,545 mi²
Coahuila state area square miles: 58,531 mi²
Coahuila state area square miles: 58,531 mi²
Colima state area square miles: 2,172 mi²
Durango state area square miles: 48,410 mi²
Guanajuato state area square miles: 384.8 mi²
Guerrero state area square miles: 24,819 mi²
Sonora state area square miles: 69,249 mi²
Hidalgo state area square miles: 8,036 mi²
Jalisco state area square miles: 30,343 mi²
México state area square miles: 761,600 mi²
México state area square miles: 761,600 mi²
México state area square miles: 761,600 mi²
México state area square miles: 761,600 mi²
Mexico City state area square miles: 573 mi²
Michoacán state area square miles: 22,625 mi²
Morelos state area square miles: 1,911 mi²
Nayarit state area square miles: 10,756 mi²
Nuevo León state area square miles: 24,771 mi²
Nuevo León state area square miles: 24,771 mi²
Oaxaca state area square miles: 36,275 mi²
Puebla state area square miles: 79.75 mi²
Querétaro state area square miles: 140.2 mi²
Quintana Roo state area square miles:
San Luis Potosí state area square miles: 148.6 mi²
Sinaloa state area square miles: 22,471 mi²
Tabasco state area square miles: 9,756 mi²
Tamaulipas state area square miles: 29,106 mi²
Tlaxcala state area square miles: 1.359 mi²
Veracruz state area square miles: n/a
Yucatán state area square miles: 16,749 mi²
Zacatecas state area square miles: 137.5 mi²

In [8]:
areas = pd.DataFrame(areas)
for a in range(len(areas)):
    areas[0][a] = areas[0][a].split(' ')[0]

In [9]:
df = pd.DataFrame(
    {'city': cities[0],
     'state': states[0],
     'area': areas[0]})

In [10]:
df.to_csv('dbnaStatesSizes.csv')

In [11]:
df

             city             state     area
0         Calgary           Alberta  255,541
1        Edmonton           Alberta  255,541
2       Vancouver  British Columbia  364,764
3        Winnipeg          Manitoba  250,116
4         Moncton     New Brunswick     5.79
..            ...               ...      ...
125       Reynosa        Tamaulipas   29,106
126       Apizaco          Tlaxcala    1.359
127  Boca del Rio          Veracruz      n/a
128        Mérida           Yucatán   16,749
129     Zacatecas         Zacatecas    137.5

[130 rows x 3 columns]